body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-image: url(../images/backgroundimage.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: white;
    text-align: center;
    padding: 2rem;
}


h1 {
    font-size: 3rem;
}

h2 {
    color: #333;
}

button:hover {
    background-color: #d62839;
}